.about {
  width: 80%;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heading {
  width: 20%;
  font-size: 1.15rem;
}
._img {
  margin: 10em;
  width: 30em;
  height: 20em;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  background-size: contain;
}
._content_wrapper {
  width: 70%;
}
.contact-btn {
  margin-right: 20px;
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.51);
  display: inline-block;
}
.contact-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #884ac2;
  animation: zoom-in-zoom-out 1s ease;
  transform: scale(1.05, 1.05);
  transition: all 0.5s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}
.contact-btn:not(:hover){
  transition: all 0.5s ease;
}
@media (max-width: 1024px) {
  .about {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  ._img {
    margin: 2em;
  }
  ._content_wrapper {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .about {
    margin-left: 4em;
    margin-right: 4em;
    flex-direction: column;
  }
  ._img {
    width: 15em;
    height: 12em;
  }
  ._content_wrapper {
    width: 15em;
  }
}