nav {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  top: 15%;
  left: -6.5rem;
  z-index: 1000;
  backdrop-filter: blur(10px);
  padding: 4px;
  border-radius: 1.25em;
}
nav a {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #575757;
}
nav a:hover {
  margin-right: 10px;
  text-decoration: none;
  color: #44a1a0;
}
nav a.active {
  color: #884ac2;
  font-weight: bold;
}